.appointments{
    background-color: black;
    color:white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userappointments{
    background-color: wheat;
    color: black;
    padding: 10px;
    border-radius: 10px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}


#coachhomepage{
    display: flex;
    flex-direction: column;
}
